HTTP status 308 is not considered cacheable

https://github.com/kornelski/rusty-http-cache-semantics/blob/f1a15e13b6242f30d780c0dd3fa8fcc6f4ce1091/src/lib.rs#L21-L22

Meanwhile in https://datatracker.ietf.org/doc/html/rfc7538#section-3:
> A 308 response is cacheable by default; i.e., unless otherwise indicated by the method definition or explicit cache controls (see [[RFC7234], Section 4.2.2](https://datatracker.ietf.org/doc/html/rfc7234#section-4.2.2)).

Wow, that was a quick fix. Thanks! :)